@import "bootstrap";

.nav-color {
  background-color: #803B8E;
  color: #FEE59D;

}

.back-color {
  background-color: #272727;
}

body {
  text-align: center;
  color: #FEE59D;
}

.card{
  margin: 20px 20px 20px 20px;
}

.cTitle{
  height: 10%;
}
.qCard{
  height: 80%;
  width: 80%;
}